/**
 * Custom Styles here.
 */

 *
  font-family Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif!important
.home .hero img
  max-width 450px!important

#header
  padding 0 32px
  padding-top 12px

.header-wrapper .title a
  text-transform none
  color $accentColor
  font-size 24px

th, td
  padding 0.5em 2.5em!important
#mobile-header .mobile-header-title .mobile-home-link
  text-transform none
  color $accentColor

.content-wrapper
  max-width 900px!important
#vuepress-theme-blog__post-layout .vuepress-blog-theme-content
  padding 25px
  max-width 900px!important
  box-shadow none
  .post-title
    margin-top 0
    font-size 26px

.content-wrapper
  padding-top 90px
  padding-bottom 20px
  min-height: calc(100vh - 80px - 90px);

#app .vuepress-toc
  max-width 250px
#app .vuepress-toc .vuepress-toc-item a
    font-size 16px
#app .vuepress-toc .vuepress-toc-item
    line-height 2rem    